* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

hr{
    border: 0;
    border-top: 1px solid #30363d;
    margin-top: 40px;
    margin-bottom: 60px;
}

body {
    background-color: #0b0f19;
    color: #8b949e;
    display: flex;

    background-image: radial-gradient(
    circle at 20% 30%, /* Posição do brilho (X e Y) */
    rgba(0, 200, 115, 0.15) 0%, /* Verde bem transparente no centro */
    transparent 50% /* Dispersão até sumir */
  );
  background-repeat: no-repeat;
}


/* Espaço para o conteúdo não ficar embaixo da sidebar */
.content {
    margin-left: 90px;
    margin-right: 0;
    padding: 40px;
    width: 100%;
}
@media (max-width: 768px) {
    .content {
        margin-top: 70px;
        padding: 0;
        margin-left: 10px;
    }

}

/* ==========================================
   Disponivel dot
   ========================================== */

    .status-badge {
        position: fixed;
        bottom: 20px; 
        right: 20px;  
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: rgba(18, 24, 36, 0.8); 
        backdrop-filter: blur(8px); /* Efeito de vidro borrado */
        padding: 8px 16px;
        border: 1px solid #30363d;
        border-radius: 20px;
        color: #8b949e;
        font-family: monospace;
        font-size: 13px;
        z-index: 9; 
    }

    /* O efeito do pontinho verde piscando */
    .ping-dot {
        width: 8px;
        height: 8px;
        background-color: #3fb950;
        border-radius: 50%;
        position: relative;
    }

    .ping-dot::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #3fb950;
        border-radius: 50%;
        animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    @keyframes ping {
        0% { transform: scale(1); opacity: 1; }
        100% { transform: scale(2.5); opacity: 0; }
    }

/* ==========================================
   HOME SECTION
   ========================================== */

.home-container {

    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

@media (max-width: 768px) { 
    .home-container {
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
    }
}


.home-container .home-image {
    filter: grayscale(100%); /* Deixa a imagem em preto e branco */
    transition: filter 1.0s ease; /* Suaviza a transição */
}

@media (max-width: 768px) { 
    .home-container .home-image {
        filter: grayscale(0%);
        
    }
 }

.home-text-container {
    flex: 1;
    max-width: 600px;
}
.home-foto-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



/* =====================
    Comando de start
   ===================== */
.intro {
    font-size: 15px;
    display: flex;
    align-items: center;
}
.intro-simbolo {
    color: #3fb950;
    font-weight:bold;
}
.intro-text {
    padding-left: 10px;
}


/* =====================
    Apresentaçao do nome
   ===================== */

.i-am {
    padding-top: 20px;
}
.name-container {
    color: whitesmoke;
    font-size: 40px;
    font-weight: bolder;
}
@media (max-width: 768px) { 
    .name-container {
        width: 50px;
        font-size: 40px;
    }
}

.name-dot {
    color: #3fb950;
}
.maiorque-simbol {
    font-weight: bolder;
    color:#3fb950
}

/* =====================
    Profissão
   ===================== */

.eusou-container {
    padding-top: 10px;
}
.eusou-funcao {
    color:aqua;
    font-weight: bold;
}

@media (max-width: 768px) { 
    .eusou-funcao {
        display: block;
        width: 100%;
    }
}



/* =====================
    Descricao
   ===================== */
.home-descricao {
    font-size: 13px;
    padding-top: 10px;
}

@media (max-width: 768px) { 
    .home-descricao {
        display: block;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
}

/* =====================
    Botões home
   ===================== */

.home-buttons-container {
    margin-top: 50px;
    display: flex;
}
@media (max-width: 768px) { 
    .home-buttons-container{
        width: 97%;
        margin: 40 auto 0 auto;
    }
} 

.github-btn {
    padding: 15px;
    margin-right: 50px;
    border: 2px solid #3fb950;
    color:#3fb950;    
    background-color: rgba(63, 185, 80, 0.1);
    font-family: monospace;
    text-decoration: none;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

}
@media (max-width: 768px) {  
    .github-btn {
        width: 70%;
    }
}

.github-btn:hover {
    background-color: rgba(2, 63, 10, 0.1);
    border-color: #22ff00;
    box-shadow: 0 0 15px rgba(4, 252, 25, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);

}

.arrow-btn {
    font-weight: bolder;
    font-family: sans-serif;
}

.contact-btn {
    padding: 15px;
    border: 2px solid #30363d;
    color: #acb4bd;    
    background-color: #161b22;
    font-family: monospace;
    text-decoration: none;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    
}

@media (max-width: 768px) {  
    .contact-btn {
        width: 70%;
    }
}

.contact-btn:hover {
    border-color: aqua;
    color: aqua;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);

}

/* =====================
    Foto home
   ===================== */
.home-foto-container {
    margin-top: 35px;   
    border: 2px solid #30363d;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    max-width: 450px; /* Evita que a foto fique gigante em telas grandes */
    overflow: hidden;
    display: block;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;


    
}
.home-foto-container:hover {
    background-color: #1d2635;
    border-color: #30363d;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);
}

@media (max-width:796px ) {
    .home-foto-container {
        width: 85%;
    }
}

.foto-titulo-container {
    padding: 10px;
    border-bottom: 1px solid #30363d;
    background-color: #161b22;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.home-image {
    height: fit-content;
    display: block;
}

.home-image img {
    width: 100%;       /* Ocupa toda a largura da div */
    height: auto;
    max-height: 350px;     
    object-fit: cover; /* Corta o excesso e centraliza o rosto */
    display: block;
    object-position: top; /*Faz o corte priorizar o topo da imagem*/
}


.home-container:hover .home-image{
    filter: grayscale(0%); /* Volta a cor ao passar o mouse */
    transition: filter 1.0s ease; /* Suaviza a transição */
    
}

.circle-color-green,
.circle-color-red,
.circle-color-yellow {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}


.circle-color-green { background-color: #3fb950; }
.circle-color-red { background-color: #ff5f56; }
.circle-color-yellow { background-color: #ffbd2e; }





/* ==========================================
   High Section Container HSC
   ========================================== */
.high-sections-container {
    margin-bottom: 50px;
}
.hsc-titulo {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
}
.hsc-chaves {
    color:#3fb950;
    font-weight: bolder;
    font-size: 30px;
}
.hsc-desc {
    display: block;
    padding-left: 30px;
    margin: 10px 0;

}


/* ==========================================
   Square Code Container SCC
   ========================================== */
.square-code-container {
    border: 2px solid #30363d;
    height: auto;
    width: 500px;
    border-radius: 10px;
    background-color: #161b29;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

}

.square-code-container:hover {
    background-color: #1d2635;
    border-color: #30363d;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);
}

@media (max-width: 768px) { 
    .square-code-container {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
.square-code-titulo {
    padding: 10px;
    background-color: #161b22;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #30363d;
}
.square-code-content {
    padding: 30px;
}
.square-code-content [name="space"] {
    padding-left: 30px;
}

.scc-numbers {
    font-size: 12px;
    color: grey;
    font-weight:bolder;

}
.scc-text-cyan {
    color: aqua;
}
.scc-text-green {
    color:#1be336;
}
/* ==========================================
   about SECTION
   ========================================== */
   /* =====================
   About Bonus Squares ABS
   ======================= */
.abs {
    height: 80px;
    width: 100%;
    max-width: 220px;
    background-color: #161b29;
    border: 2px solid #30363d;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 796px ) { 
    .abs {
        width: 90%;
    }
}


.about-bonus-text {
    max-width: 650px;
    width: 100%;
    align-items: center; 
}

@media (max-width: 796px ) {
    .about-bonus-text {
        margin: 0 auto 20px auto;
        align-items: center;
    }

    .abs-text {
        text-align: center;
        display: block;
        width: 100%;
    }
}
@media (max-width: 796px ) {
    .abs-content {
        width: 90%;
    }
}


.abs-text-green {
    font-size: 25px;
    font-weight: bolder;
    display: block;
    color: #1be336;
}
.abs-text-grey {
    font-size: 12px;
    overflow-wrap: break-word;
}

.abs:hover {
    background-color: #1d2635;
    border-color: #30363d;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;    

}

@media (max-width: 796px ) {
    .about-container {
        display: block;
        align-items: center;
        
    }
}

.about-bonus {
    flex: 1;
    max-width: 50%;
}

@media (max-width: 796px ) {
    .about-bonus {
        margin: 0 auto;    
        max-width: 100%;
    }
}


.about-bonus-squares {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0px;   /* Diminui a distância na LARGURA (horizontal) */
    row-gap: 15px;      /* Aumenta a distancia na ALTURA (vertical) */
}

@media (max-width: 796px ) {
    .about-bonus-squares {
        column-gap: 0px;   /* Diminui a distância na LARGURA (horizontal) */
        row-gap: 15px;      /* Aumenta a distancia na ALTURA (vertical) */
    }
}

/* ==========================================
   Stack SECTION
   ========================================== */
/* =====================
   Stack Square Base SSB
   ======================= */

.stack-container {
    margin-left: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}
.square-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.stack-square-base {
    height: 80px;
    width: 80px;
    background-color: #161b29;
    border: 1px solid #30363d;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

}


.stack-square-base:hover  {
    background-color: #0d1117;
}


.square-text-down {
    font-size: 14px;
    color: #8b949e;

    transition: color 0.3s ease;
}

.stack-square-text {
    font-size: 20px;
    color: #8b949e;

    transition: color 0.3s ease, text-shadow 0.3s ease;
}
/* ==========================================
   CORES PERSONALIZADAS NO HOVER (STACK)
   ========================================== */

/* --- 1. JAVA --- */
.square-container:has([name="ssb-java"]):hover .stack-square-base {
    border-color: #e65100;
    box-shadow: 0 0 15px rgba(230, 81, 0, 0.5), inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-java"]):hover .stack-square-text {
    color: #e65100;
    text-shadow: 0 0 8px rgba(230, 81, 0, 0.6);
}
.square-container:has([name="ssb-java"]):hover .square-text-down {
    color: #e65100;
}

/* --- 2. HTML  --- */
.square-container:has([name="ssb-html"]):hover .stack-square-base {
    border-color: #0206ff;
    box-shadow: 0 0 15px #02516b, inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-html"]):hover .stack-square-text {
    color: #0206ff;
    text-shadow: 0 0 8px #02516b;
}
.square-container:has([name="ssb-html"]):hover .square-text-down {
    color: #0206ff;
}

/* --- 3. CSS  --- */
.square-container:has([name="ssb-css"]):hover .stack-square-base {
    border-color: #15ac04bb;
    box-shadow: 0 0 15px #0c6a02bb, inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-css"]):hover .stack-square-text {
    color: #15ac04bb;
    text-shadow: 0 0 8px #0c6a02bb;
}
.square-container:has([name="ssb-css"]):hover .square-text-down {
    color: #15ac04bb;
}

/* --- 4. sql  --- */
.square-container:has([name="ssb-sql"]):hover .stack-square-base {
    border-color: #d106db;
    box-shadow: 0 0 15px #f201ff, inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-sql"]):hover .stack-square-text {
    color: #d106db;
    text-shadow: 0 0 8px #f201ff;
}
.square-container:has([name="ssb-sql"]):hover .square-text-down {
    color: #d106db;
}
/* --- 5. python  --- */
.square-container:has([name="ssb-python"]):hover .stack-square-base {
    border-color: #fff200;
    box-shadow: 0 0 15px #a09a23, inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-python"]):hover .stack-square-text {
    color: #fff200;
    text-shadow: 0 0 8px #a09a23;
}
.square-container:has([name="ssb-python"]):hover .square-text-down {
    color: #fff200;
}
/* --- 6. Git  --- */
.square-container:has([name="ssb-GIT"]):hover .stack-square-base {
    border-color: #ffffff;
    box-shadow: 0 0 15px #ffffff, inset 0 0 5px rgba(230, 81, 0, 0.2);
}
.square-container:has([name="ssb-GIT"]):hover .stack-square-text {
    color: #ffffff;
    text-shadow: 0 0 8px #ffffff;
}
.square-container:has([name="ssb-GIT"]):hover .square-text-down {
    color: #ffffff;
}

/* ==========================================
   Experience SECTION
   ========================================== */

.experience-container {
    border-left: 2px solid #30363d;
    padding-left: 41px;
    margin-left: 20px;
}

.experience-item {
    position: relative;
    margin-bottom: 40px;
}

.timeline-dot {
    position: absolute;
    left: -52px; 
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #0d1117; /* Mesma cor do fundo para parecer vazada */
    border: 2px solid #1be336;
    border-radius: 50%;
    background-color: #075e12;

    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.experience-item:hover .timeline-dot {
    background-color: #00ff22;
    box-shadow: 0 0 15px #00ff22, inset 0 0 5px rgba(0, 255, 255, 0.2);
}

.experience-commits-text-green {
    color: #1be336;
}
.desc-commit-greencode {
    color: #00ff22;
    background-color: #0c3712;
}
.experience-commit-title {
    padding-top: 5px;
    font-size: 23px;
    color: whitesmoke;
}
.experience-commit-desc {
    width: 550px;
}
@media (max-width: 795px) {
    .experience-commit-desc {
        width: 100%;
    }
}

.experience-commit-local-text {
    color:aqua;
    font-size: 18px;
}
.experience-commmit-squares-container {
    display: flex;         /* Coloca os itens em linha */
    flex-wrap: wrap;       /* Se não couberem na linha, eles pulam para a de baixo */
    gap: 10px;             /* Cria um espaçamento uniforme entre eles */
    margin-top: 15px;      /* Dá um respiro em relação ao texto de cima[cite: 6] */
}
.experience-commit-squares {
    text-align: center;
    height: 25px;
    width: fit-content;
    padding: 5px 10px;
    background-color: #161b29;
    border: 1px solid #30363d;
}

/* ==========================================
   Contact SECTION
   ========================================== */

.contact-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
}



@media (max-width: 796px ) {
    .contact-container {
        margin: 0 auto 25px auto;
        flex-direction: column;
        gap: 35px;
    }
 }


.contact-options-square {
    padding: 20px 15px;
    height: 265px;
    width: 400px;
    background-color: #161b29;
    border: 2px solid #30363d;
    border-radius: 10px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

}
.contact-options-square:hover {
    background-color: #1d2635;
    border-color: #30363d;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);
}

@media (max-width: 796px ) { 
    .contact-options-square {
        margin: 0 auto;
        width: 85%;
    }
}

.contact-square-green-text {
    color: #1be336;
}

.contact-option-square {
    margin-top: 15px;
    height: 55px;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
    border-radius: 10px;

}
.contact-options-square-sendmessage {
    padding: 20px 15px;
    height: auto;
    width: 400px;
    background-color: #161b29;
    border: 2px solid #30363d;
    border-radius: 10px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

}
.contact-options-square-sendmessage:hover {
    background-color: #1d2635;
    border-color: #30363d;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);
}
@media (max-width: 796px ) { 
    .contact-options-square-sendmessage {
        width: 85%;
        margin: 0 auto 25px auto;
    }
}

.contact-option-square:hover {
    background-color: #0d1117;
}

.contact-option-image {
    height: 50px;
    width: auto;
}

.contact-option-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-option-tittle {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}
.contact-option-desc {
    color: #8b949e;
    font-size: 13px;
}

.send-message-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.send-mensagem label{
  display: block;  
  margin-bottom: 10px;
}
.send-message-input-email,
.send-message-input-name {
    padding: 0px 15px;
    width: 100%;
    font-size: 16px;
    background-color: #0d1117;
    color: whitesmoke;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.23);
    border-radius: 9px;
}
.send-message-input-desc {
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    background-color: #0d1117;
    color: whitesmoke;
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.23); 
    border-radius: 9px;
}
.btn-submit-form {
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #3fb950;
    color:#3fb950;    
    background-color: rgba(63, 185, 80, 0.1);
}
.btn-submit-form:hover {
    border-color: #22ff00;

    box-shadow: 0 0 15px rgba(4, 252, 25, 0.4), inset 0 0 5px rgba(0, 255, 255, 0.2);

}

.finally-texts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.finally-text-black {
    color: rgba(50, 47, 47, 0.948);
}

@media (max-width: 796px ) {
    .finally-texts {
        flex-direction: column;
    }
    .finally-text {
        margin: 0 auto;
        margin-bottom: px;
    }
}
