
.logo {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #0d1117;
    border-right: 1px solid #30363d;
    position: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-head {
    margin-bottom: 70px;
    color: #3fb950;
}


.navbar-itens {
    list-style: none;
    flex-grow: 1;
}

.navbar-itens li {
    margin: 15px 0;
}
.navbar-itens li a:hover {
    color:#3fb950
}

.navbar-itens a {
    text-decoration: none;
    color: #8b949e;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.icon {
    height: 23px;
    width: 23px;
}


.icon  img{
    margin-right: 10px;
    width: 20px;
    text-align: center;
    
}

/* Status 'Available' no rodapé da sidebar */
.status {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.status-simbolo {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #3fb950;
    margin-right: 8px;
    font-weight:bolder;
}

@media (max-width: 768px) {
    
    .sidebar {
        display: none;
    }
}
